{% extends 'base.html.twig' %}

{% block title %} Création d'une Equipe{% endblock %}

{% block body %}

    <div class="row justify-content-center form-vertical-center">
        <div class="col-4">
            <form name="form" method="post">
                <p class="h4 text-center mb-4">Créer une équipe</p>

                <div class="md-form">
                    <i class="fa fa-soccer-ball-o prefix grey-text"></i>
                    <input type="text" id="{{ form.nom.vars.id }}" name="{{ form.nom.vars.full_name }}" required="required" class="form-control">
                    {{ form_label(form.nom) }}
                </div>

                <div class="text-center mt-4">
                    <button class="btn blue lighten-1" id="{{ form.Valider.vars.id }}" name="{{ form.Valider.vars.full_name }}" type="submit">{{ form.Valider.vars.name }}</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}