{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey }}
        </div>
    {% endif %}

    <div class="row justify-content-center form-vertical-center">
        <div class="col-5">
            <form action="{{ path('app_security_login') }}" method="post">
                <p class="h4 text-center mb-4">Connexion</p>

                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control"/>
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="_password" required="required" class="form-control"/>
                </div>

                <div class="text-center mt-4">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <button class="btn blue lighten-1" type="submit">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Se connecter
                    </button>
                    <p>Pas encore de compte ? <a class="light-blue-text" href="{{ path('app_register') }}">Inscrivez-vous !</a></p>
                </div>
            </form>
        </div>
    </div>


{% endblock %}