{% extends 'base.html.twig' %}

{% block title %} Créer un compte {% endblock %}

{% block body %}

    <div class="row justify-content-center big-form-vertical-center">
        <div class="col-4">
            <form name="form" method="post">

                {{ form_row(formUser._token) }}
                <p class="h4 text-center mb-4">Créer un compte</p>

                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="{{ formUser.nom.vars.id }}" name="{{ formUser.nom.vars.full_name }}" required="required" class="form-control">
                    {{ form_label(formUser.nom) }}
                </div>

                <div class="md-form">
                    <i class="fa fa-soccer-ball-o  prefix grey-text"></i>
                    <input type="text" id="{{ formUser.username.vars.id }}" name="{{ formUser.username.vars.full_name }}" required="required" class="form-control">
                    {{ form_label(formUser.username) }}
                </div>

                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="email" id="{{ formUser.mail.vars.id }}" name="{{ formUser.mail.vars.full_name }}" required="required" class="form-control">
                    {{ form_label(formUser.mail) }}
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="{{ formUser.mdp.first.vars.id }}" name="{{ formUser.mdp.first.vars.full_name }}" required="required" class="form-control">
                    {{ form_label(formUser.mdp.first) }}
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="{{ formUser.mdp.second.vars.id }}" name="{{ formUser.mdp.second.vars.full_name }}" required="required" class="form-control">
                    {{ form_label(formUser.mdp.second) }}
                </div>

                <div class="text-center mt-4">
                    <button class="btn blue lighten-1" type="submit">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> S'inscrire !
                    </button>
                </div>
            </form>
        </div>
    </div>




{% endblock body %}