{% extends 'base.html.twig' %}

{% block title %} Les Matchs {% endblock %}

{% block body %}


    <div class="container-fluid"></div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Equipe 1</th>
            <th>Equipe 2</th>
            <th>Date</th>
            <th>Live</th>
            <th>Score</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        {% for match in matchs %}

                <tr>
                    <td>{{ match.equipe1 }}</td>
                    <td>{{ match.equipe2 }}</td>
                    <td>{{ match.date }}</td>
                    <td>
                        {% if match.live %}En cours{% elseif match.score.0 is not null and match.score.1 is not null %}Match terminé{% else %}Match non commencé{% endif %}
                    </td>
                    <td>{{ match.score.0 }} - {{ match.score.1 }}</td>
                    {% if match.score.0 is null and match.score.1 is null and match.live !="true" %}
                        <td><a href="{{ path('app_paris_new', { 'equipe1': match.equipe1, 'equipe2': match.equipe2 }) }}">Parier sur ce Match</a></td>
                        {% else %}
                        <td>Impossible de parier</td>
                    {% endif %}
                </tr>

        {% endfor %}

        </tbody>
    </table>

    </div>
{% endblock %}