{% extends 'base.html.twig' %}

{% block title %} Utilisateurs {% endblock %}

{% block body %}

    Bienvenue {{ app.user.username }} !

    <div class="container-fluid"></div>

    <div class="table-responsive">
        <table class="table">
            <thead class="blue lighten-1">
            <tr>
                <th>Username</th>
                <th>@mail</th>
                <th>Modération</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}

                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.mail }}</td>
                    <td>
                        <a href="{{ path('app_delete_user', { 'idUser': user.id }) }}">
                            Supprimer le compte
                        </a>
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>
    <a href="{{ path('app_register') }}">Créer un compte</a>

    </div>
{% endblock %}
