<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand ml-3" href="{{ path('app_index') }}">L3Cup</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-con$
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-lg-5 mr-auto mb-2 mt-2">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_team_index') }}">Equipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_paris_index') }}">Paris</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_match_index') }}">Matchs</a>
            </li>
        </ul>
        {% if app.user %}
            <a class="btn btn-outline-white my-0" href="{{ path('app_security_logout') }}">Déconnexion</a>
        {% else %}
            <a class="btn btn-outline-white my-0" href="{{ path('app_security_login') }}">Connexion</a>
            <a class="btn btn-outline-white my-0" href="{{ path('app_register') }}">Inscription</a>
        {% endif %}
    </div>
</nav>
